  #sidebar-wrapper {
    margin-left: -250px;
    left: 0;
    width: 250px;
    background: rgb(0,0,0);
    position: fixed;
    height: calc(100% - 50px);
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.2s ease-in 0s;
    -webkit-transition: all 0.2s ease-in 0s;
    -moz-transition: all 0.2s ease-in 0s;
    -ms-transition: all 0.2s ease-in 0s;
    -o-transition: all 0.2s ease-in 0s;
    overflow: hidden;
  }

  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-nav li {
    line-height: 50px;
    text-indent: 20px;
  }

  .sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
  }

  .sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
  }

  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }

  .sidebar-nav > .sidebar-brand {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
  }

  .sidebar-nav > .sidebar-brand a {
    color: #999999;
  }

  .sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
  }


  #sidebar-wrapper.active {
    left: 250px;
    width: 250px;
    transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
  }

  .toggle {
    margin: 5px 5px 0 0;
  }

  .navbar {
    margin-bottom: 0px;
}

.navbar, .navbar.navbar-default {
    background-color: #000000;
}

.navbar .navbar-form .form-group .form-control, .navbar .navbar-form .form-control {
    width: 250px;
}